@using TicketsExchangeSystem.Services.Data.Interfaces;
@using TicketsExchangeSystem.Web.Infrastructure.Extentions;
@model TicketDetailsViewModel;

@inject ISellerService SellerService


@{
    ViewData["Title"] = Model.Title;
    bool isOwner = await SellerService.IsOwnerOfTicketByUserIdAsync(this.User.GetId()!, @Model.Id.ToString());
}

<div class="container">
    <div class="d-grid gap-2 text-center">
        <div>
            <h1 class="display-4 mt-4"><u>@ViewData["Title"] </u></h1>
        </div>
    </div>
</div>

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;" src="@Model.ImageUrl" alt="ticket image">
        </div>
        <div class="card col-8 border-0">
            <p>Category: <b>@Model.TicketCategory</b></p>

            <p>Country: <b> @Model.Country </b></p>
            <p>City: <b>@Model.City</b></p>
            <p>Place: <b>@Model.PlaceOfEvent</b></p>
            <p>On: <b>@Model.EventDate.ToShortDateString()</b></p>
            <p>Start at: <b>@Model.EventDate.ToShortTimeString() h</b></p>

            <p>Address: <b>@Model.Addres1</b></p>

            <p>Address: <b>@Model.Addres2</b></p>

            <p>Price: <b> @($"{@Model.PricePerTicket:f2}") @Model.TicketCurrency</b> </p>

            <p>Available: <b>(@(Model.Quantity > 0 ? $"{@Model.Quantity} ticket/s" : "Оut of stock"))</b></p>

            <div class="form-inline">
                <form class="mx-auto my-2" asp-controller="Ticket" asp-action="Buy" asp-route-id="@Model.Id.ToString()" method="post">

                    <input class="btn btn-outline-primary mx-auto" type="submit" value=" Buy " style="width:180px" @(Model.Quantity == 0 ? "disabled" : "") />

                </form>
                <div class="btn-group ">
                    @if (this.User?.Identity?.IsAuthenticated ?? false)
                    {
                        @if (isOwner)
                        {
                            <a class="btn btn-outline-warning mx-auto" asp-controller="Ticket" asp-action="Edit"
                               asp-route-id="@Model.Id.ToString()">Edit</a>

                            <a class="ml-2 btn btn-outline-danger mx-auto" asp-controller="Ticket" asp-action="Delete"
                               asp-route-id="@Model.Id.ToString()">Delete</a>
                        }
                    }

                    <a class="btn btn-outline-success mx-auto" onclick="history.go(-1);">Back</a>   @*asp-controller="Ticket" asp-action="@Model.ReturnUrl"*@
                </div>

            </div>
            <p></p>
        </div>
    </div>
</div>


