@model CustomSearchViewModel


<div class="col-md-4">
    <div class="card  mb-3 shadow-lg border-bottom border-danger" >
        <img class="card-img-top" src="@Model.ImageUrl" alt="Ticket image">
        <div class="card-body text-center">
            <h4>@Model.Title</h4>
            <h6> 
                <i class="bi bi-geo-alt-fill me-2"></i> 
                Place: <b>@Model.Country</b>, <b>@Model.City</b>, <b>@Model.PlaceOfEvent</b>
            </h6>
            <h6>
                <i class="bi bi-calendar-plus me-2"></i>
                Start on: <b> @Model.EventDate.ToShortDateString(), @Model.EventDate.ToShortTimeString() h</b>
            </h6>
            <h6>
                <i class="bi bi-infinity me-2"></i>
                Quantity: <b> @Model.Quantity</b>
            </h6>
            <h6>
                <i class="bi bi-wallet-fill me-2"></i>
                Price: @Model.PricePerTicket <b>@Model.TicketCurrency</b>
            </h6>
            <br />
            <a asp-controller="Tickets" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-outline-primary">Details</a>

            @if (this.User.Identity?.IsAuthenticated ?? false)
            {
                <a asp-controller="Ticket" asp-action="Edit" asp-route-id="@Model.Id"
                   class="btn btn-outline-warning">Edit</a>

                <a asp-controller="Ticket" asp-action="Delete" asp-route-id="@Model.Id"
                   class="btn btn-outline-danger">Delete</a>
                <p></p>


                <form class="input-group-sm" asp-controller="Ticket" asp-action="Buy" asp-route-id="@Model.Id" method="post">
                    @if (Model.Quantity > 0)
                    {
                        <input class="btn btn-outline-primary" type="submit" value="Buy" />
                    }
                    else
                    {
                        <input class="btn btn-outline-primary" type="submit" value="Buy" disabled />
                    }
                </form>
            }
        </div>
    </div>
</div>